//BASE
html {
  scroll-behavior: smooth;
}

.container-fluid {
  height: auto;
  padding: 2rem;
}

.header {
  //border: 1px solid green;
  //clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  background-color: rgba(26, 26, 26);
  height: 85vh;

  background-image: linear-gradient(
      to bottom,
      rgba(26, 26, 26, 0.2),
      rgba(236, 238, 239, 0.1)
    ),
    url("../../img/header.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 95.9vw;
  height: 10vh;
}
//SECTIONS
.about {
  //border: 1px solid green;
  height: 100vh;
  background-color: #f7f7f7;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__a {
    .about-img {
      width: 40vw;
      height: 50vw;
    }
  }
  &__b {
    width: 40%;
  }
}

.services {
  //border: 1px solid green;
  height: 95vh;
  background-color: rgb(235, 235, 235);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -3rem;
}
.services-container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__a {
    border: 1px solid black;
    width: 25%;
    height: 25%;
  }
  &__b {
    border: 1px solid red;
    width: 25%;
    height: 25%;
  }
  &__c {
    border: 1px solid black;
    width: 25%;
    height: 25%;
  }
  &__d {
    border: 1px solid red;
    width: 25%;
    height: 25%;
  }
}

.projects {
  height: 95vh;
  margin-top: -3rem;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  background-color: #f7f7f7;
}

.skills {
  height: 95vh;
  background-color: teal;
}

.contact {
  height: 95vh;
  background-color: rgb(235, 235, 235);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -3rem;
}

.footer {
  height: 40vh;
  background-color: $gray-900;
}

.kct {
  background-color: #f7f7f7;
}
