//BASE
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow: hidden; /* Hide scrollbars */
}

.header {
  // border: 1px solid green;
  background-color: rgba(26, 26, 26);
  height: 91vh;

  background-image: linear-gradient(
      to bottom,
      rgba(26, 26, 26, 0.2),
      rgba(236, 238, 239, 0.1)
    ),
    url("../../img/cover.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: -2;

  &__intro {
    //border: 5px solid red;
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.heading {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3.5rem;
  animation: moveInLeft 2s ease-out;
}

.heading-muted {
  color: rgba(26, 26, 26, 0.6);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

//SECTIONS
.about {
  //border: 1px solid green;
  height: 95vh;
  background-color: #f7f7f7;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__a {
    .about-img {
      width: 40vw;
      height: 50vw;
    }
  }
  &__b {
    width: 40%;
  }
}

.services {
  //border: 1px solid green;
  height: 95vh;
  background-color: rgb(235, 235, 235);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -3rem;
}
.services-container {
  //border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__a {
    border: 1px solid black;
    width: 25%;
    height: 25%;
  }
  &__b {
    //border: 1px solid red;
    width: 25%;
    height: 25%;
  }
  &__c {
    border: 1px solid black;
    width: 25%;
    height: 25%;
  }
  &__d {
    border: 1px solid red;
    width: 25%;
    height: 25%;
  }
}

.projects {
  height: 95vh;
  margin-top: -3rem;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pj-container {
  //border: 1px solid red;
  width: 50rem;
  height: 20rem;
  background-color: teal;
}

.contact {
  //border: 10px solid green;

  height: 70vh;
  background-image: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 0.2),
    rgba(236, 238, 239, 0.1)
  );
  //clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: 90vw;
  height: 70vh;
  //border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container-img {
  //border: 1px solid red;
  width: 70%;
  height: 72%;
  background-image: linear-gradient(
      105deg,
      rgba($white, 0.9) 0%,
      rgba($white, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/contact-us.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.contact-form {
  width: 50%;
  padding: 6rem;
  //border: 1px solid green;
}

.fixed-top {
  margin: auto;
}

///FOOTER

footer.page-footer {
  bottom: 0;
  color: #fff;
}

footer.page-footer .container-fluid {
  width: auto;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

footer.page-footer a {
  color: #fff;
}

.font-small {
  font-size: 0.9rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.flex-center p {
  margin: 0;
}

.flex-center ul {
  text-align: center;
}

.flex-center ul li {
  margin-bottom: 1rem;
}

.flex-center ul li:last-of-type {
  margin-bottom: 0;
}

//card
.card {
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card[class*="border"] {
  border: 1px solid #9e9e9e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6 {
  font-weight: 400;
}

.card .card-body .card-title a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card .card-body .card-title a:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card .card-body .card-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #747373;
}

.card .md-form label {
  font-weight: 300;
}
