@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap");
.navbar {
  max-width: 100vw;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  max-height: 10vh;
}
.navbar-nav {
  margin: auto;
}
.navbar-nav .nav-link {
  padding-top: 0.715rem;
  padding-bottom: 0.715rem;
  font-size: 1.15rem;
}

.bg-primary {
  background-color: theme-color("primary");
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.bg-light.navbar-bottom-top {
  border-width: 1px 0 0 0;
}

.nav-item {
  margin-right: 2rem;
}

.btn {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.btn-sm {
  font-size: 10px;
}
.btn-warning, .btn-warning:hover, .btn-warning:not([disabled]):not(.disabled):active, .btn-warning:focus {
  color: #fff;
}

.btn-outline-secondary {
  border-color: #919aa1;
  color: #919aa1;
}
.btn-outline-secondary:not([disabled]):not(.disabled):hover, .btn-outline-secondary:not([disabled]):not(.disabled):focus, .btn-outline-secondary:not([disabled]):not(.disabled):active {
  background-color: #ced4da;
  border-color: #ced4da;
  color: #fff;
}
.btn-outline-secondary:not([disabled]):not(.disabled):focus {
  box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.5);
}

[class*=btn-outline-] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid #ced4da !important;
}

body {
  font-weight: 200;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-secondary {
  color: #55595c !important;
}

th {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.table th,
.table td {
  padding: 1.5rem;
}
.table-sm th,
.table-sm td {
  padding: 0.75rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.15625rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
}

.dropdown-menu {
  font-size: 0.875rem;
  text-transform: none;
}

.badge {
  padding-top: 0.28rem;
}
.badge-pill {
  border-radius: 10rem;
}

.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6,
.list-group-item .h1,
.list-group-item .h2,
.list-group-item .h3,
.list-group-item .h4,
.list-group-item .h5,
.list-group-item .h6 {
  color: inherit;
}

.card-title, .card-header {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow: hidden;
  /* Hide scrollbars */
}

.header {
  background-color: #1a1a1a;
  height: 90vh;
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0.2), rgba(236, 238, 239, 0.1)), url("/cover.d88b0115.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.header__intro {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.heading {
  font-size: 3rem;
  opacity: 1;
}

.heading-muted {
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
}

.about {
  height: 95vh;
  background-color: #f7f7f7;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.about-container__a .about-img {
  width: 40vw;
  height: 50vw;
}
.about-container__b {
  width: 40%;
}

.services {
  height: 95vh;
  background-color: #ebebeb;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -3rem;
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.services-container__a {
  border: 1px solid black;
  width: 25%;
  height: 25%;
}
.services-container__b {
  width: 25%;
  height: 25%;
}
.services-container__c {
  border: 1px solid black;
  width: 25%;
  height: 25%;
}
.services-container__d {
  border: 1px solid red;
  width: 25%;
  height: 25%;
}

.projects {
  height: 95vh;
  margin-top: -3rem;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pj-container {
  width: 50rem;
  height: 20rem;
  background-color: teal;
}

.skills {
  height: 95vh;
  background-color: teal;
}

.contact {
  height: 80vh;
  background-color: #ebebeb;
  margin-top: -3rem;
}

.kct {
  background-color: #f7f7f7;
}

.fixed-top {
  margin: auto;
}

footer.page-footer {
  bottom: 0;
  color: #fff;
}

footer.page-footer .container-fluid {
  width: auto;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

footer.page-footer a {
  color: #fff;
}

.font-small {
  font-size: 0.9rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.flex-center p {
  margin: 0;
}

.flex-center ul {
  text-align: center;
}

.flex-center ul li {
  margin-bottom: 1rem;
}

.flex-center ul li:last-of-type {
  margin-bottom: 0;
}

.card {
  font-weight: 400;
  border: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card[class*=border] {
  border: 1px solid #9e9e9e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card .card-body h1,
.card .card-body h2,
.card .card-body h3,
.card .card-body h4,
.card .card-body h5,
.card .card-body h6 {
  font-weight: 400;
}

.card .card-body .card-title a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card .card-body .card-title a:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card .card-body .card-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #747373;
}

.card .md-form label {
  font-weight: 300;
}

.fa-twitter,
.fa-instagram,
.fa-github,
.fa-facebook-f,
.fa-linkedin-in {
  transition: all 0.2s ease;
}
.fa-twitter:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-facebook-f:hover,
.fa-linkedin-in:hover {
  opacity: 0.8;
  transform: scale(1.2);
  cursor: pointer;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/*# sourceMappingURL=/main.cece9e79.css.map */