html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* just make scrollbar invisible */
}

/* show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
