//utilities
.u-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-huge {
  margin-bottom: 5rem;
}

.u-margin-top-medium {
  margin-top: 1.5rem;
}

// Buttons =====================================================================
.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $white;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography ==================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-secondary {
  color: $body-color !important;
}

//typography
.heading-secondary {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to top, #f1f1f1, #151515);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.13rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
  }
}

// Navs ========================================================================

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators ==================================================================

.badge {
  padding-top: 0.28rem;

  &-pill {
    border-radius: 10rem;
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.card {
  &-title,
  &-header {
    color: inherit;
  }
}

.font-small {
  font-size: 0.9rem;
}

.flex-evenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

// Flex-center ==================================================================
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-center p {
  margin: 0;
}

.flex-center ul {
  text-align: center;
}

.flex-center ul li {
  margin-bottom: 1rem;
}

.flex-center ul li:last-of-type {
  margin-bottom: 0;
}

.page__under-img {
  width: 75vh;
  height: 55vh;
}

.portfolio-item {
  //border: 1px solid green;
  height: 38vh;
  width: 20vw;
}
.portfolio-item .portfolio-thumb {
  //border: 1px solid red;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.portfolio-item .portfolio-thumb img {
  width: 100%;
  height: 100%;
}
.portfolio-item .portfolio-thumb .portfolio-overlay {
  background-color: #343a40;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 25px;
  text-align: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.portfolio-item .portfolio-thumb .portfolio-overlay h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-bottom: 1px solid white;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand {
  margin-top: 15px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  background-color: white;
  display: inline-block;
  text-align: center;
}
.portfolio-item .portfolio-thumb .portfolio-overlay a.expand i {
  line-height: 36px;
}
.portfolio-item .portfolio-thumb:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
}
